.Cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;

}

.Cell img {
  width: 48px;
  height: 48px;
  position: relative;
  user-select: none;
}

.black {
  background-color: var(--black-color);
}

.white {
  background-color: var(--white-color);
}

.selected {
  background-color: red;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border-color: #22c022;
}

.CellAvailable {
  background: green;
}